# Applied Data Science Capstone Week 4

## Introduction/Business Problem

I have been living in Manhattan for more than seven years. As a result of Covid-19 restrictions, a lot of my beloved restaurant/bakery/Caf√© are permanently closed. 

On Wednesday, June 9, 2021, New York Gov. Andrew Cuomo speaks at the opening ceremony of the Tribeca Film Festival. With 70% vaccinated, New York State is reopening from most Covid-19 restrictions.

I would like to use Foursquare location data to see which area in Manhattan has best potential to open a new Chinese restaurant.

In [48]:
from IPython.display import Image
Image(url= "60c172a78cd90.image.jpg",  width=800, height=800)

## Data section

Even though this course already have detailed guide for getting New York City Data, we'd like to use latest 2021 data obtained from www.propertyshark.com for two main reasons:
1. Up-to-date Neighborhood, focused for Manhattan
2. Real Estate Median Sale Price could be a indicator of neighborhood buying power

url = "https://www.propertyshark.com/mason/market-trends/residential/nyc/manhattan"

#### Import Libraries

In [49]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

#### Define Foursquare Credentials and Version

In [50]:
CLIENT_ID = 'ICXVSITQ5UMI32QUFD1ZE0AMTFLK3ATJAB5EUB53IA3IR0XT' # your Foursquare ID
CLIENT_SECRET = 'ISWXCRS4QH3XWZQ15I0K4YVE4CIWESN5LSCYH5Q20UOL0KUC' # your Foursquare Secret
ACCESS_TOKEN = 'XQ2NBDFQXW2A5S5KOFNPUPTZ1Z43YWHDW5JRK5NMJMWZW04D' # your FourSquare Access Token
VERSION = '20210620' # current date
LIMIT = 100 # A default Foursquare API limit value

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: ICXVSITQ5UMI32QUFD1ZE0AMTFLK3ATJAB5EUB53IA3IR0XT
CLIENT_SECRET:ISWXCRS4QH3XWZQ15I0K4YVE4CIWESN5LSCYH5Q20UOL0KUC

#### Get Manhattan Neighborhood Data

In [51]:
# load propertyshark neighborhoods data
propertyshark_data = pd.read_csv('manhattan_real_estate.csv')
propertyshark_data.head()

         Neighborhood    Borough  Median Sale Price
0   Battery Park City  Manhattan           762900.0
1       Carnegie Hill  Manhattan          1500000.0
2     Central Midtown  Manhattan           830000.0
3  Central Park South  Manhattan          2147500.0
4             Chelsea  Manhattan          1077600.0

#### Get Manhattan Neighborhood Data

In [52]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude', 'Meidian Sale Price'] 
geolocator = Nominatim(user_agent="foursquare_agent")

# instantiate the dataframe
manhattan_data = pd.DataFrame(columns=column_names)

for index, row in propertyshark_data.iterrows():
    address = row.Neighborhood + ', ' + row.Borough
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    
    manhattan_data = manhattan_data.append({'Borough': row.Borough,
                                          'Neighborhood': row.Neighborhood,
                                          'Latitude': latitude,
                                          'Longitude': longitude,
                                          'Meidian Sale Price': row[-1]}, ignore_index=True)
manhattan_data.head()

     Borough        Neighborhood   Latitude  Longitude  Meidian Sale Price
0  Manhattan   Battery Park City  40.711017 -74.016937            762900.0
1  Manhattan       Carnegie Hill  40.784197 -73.954339           1500000.0
2  Manhattan     Central Midtown  40.756182 -73.981039            830000.0
3  Manhattan  Central Park South  40.767814 -73.981232           2147500.0
4  Manhattan             Chelsea  40.746491 -74.001528           1077600.0

#### Get restaurant raw data

In [53]:
def getNearbyRestaurant(names, latitudes, longitudes, radius=500, search_query = 'Restaurant'):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
        
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&oauth_token={}&v={}&query={}&radius={}&limit={}'.format(
            CLIENT_ID, CLIENT_SECRET, lat, lng, ACCESS_TOKEN, VERSION, search_query, radius, LIMIT)
            
        # make the GET request
        results = requests.get(url).json()['response']['venues']
        df = json_normalize(results)
        for index, row in df.iterrows():
            if row['categories']==[]:
                df.drop(index, inplace=True)
        df.reset_index(drop=True)
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            row['name'], 
            row['location.lat'], 
            row['location.lng'],  
            row['categories'][0]['name']) for index, row in df.iterrows()])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [54]:
manhattan_restaurant = getNearbyRestaurant(names=manhattan_data['Neighborhood'],
                                   latitudes=manhattan_data['Latitude'],
                                   longitudes=manhattan_data['Longitude']
                                  )

Battery Park City
Carnegie Hill

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:13: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  del sys.path[0]

Central Midtown
Central Park South
Chelsea
Chinatown
Civic Center
Clinton - Hell's Kitchen
East Harlem
East Village
Financial District
Flatiron District
Garment District
Gramercy Park
Greenwich Village
Harlem
Hudson Square
Hudson Yards
Inwood
Kips Bay
Koreatown
Lenox Hill
Lincoln Square
Little Italy
Lower East Side
Manhattan Valley
Morningside Heights
Murray Hill
NoHo
NoLIta
NoMad
Roosevelt Island
SoHo
Sutton Place
Theatre District - Times Square
TriBeCa
Tudor City
Turtle Bay
Two Bridges
Upper West Side
Washington Heights
West Village
Yorkville

In [55]:
print('There are {} uniques categories.'.format(len(manhattan_restaurant['Venue Category'].unique())))
manhattan_restaurant['Venue Category'].unique()

There are 125 uniques categories.

array(['Pub', 'Chinese Restaurant', 'Lounge', 'Seafood Restaurant',
       'Food Court', 'Food', 'Non-Profit', 'Sandwich Place',
       'New American Restaurant', 'Bar', 'Mediterranean Restaurant',
       'Hotel Bar', 'Diner', 'Mexican Restaurant', 'Indian Restaurant',
       'Italian Restaurant', 'American Restaurant',
       'Indian Chinese Restaurant', 'Pizza Place',
       'Latin American Restaurant', 'Asian Restaurant', 'Restaurant',
       'Coffee Shop', 'French Restaurant', 'Caf√©', 'Sushi Restaurant',
       'Bakery', 'Sports Bar', 'Japanese Restaurant', 'Irish Pub',
       'Office', 'Hawaiian Restaurant', 'Brazilian Restaurant',
       'Event Space', 'Korean Restaurant', 'Caribbean Restaurant',
       'Vietnamese Restaurant', 'Turkish Restaurant', 'Art Museum',
       'Thai Restaurant', 'Greek Restaurant', 'Steakhouse', 'Gastropub',
       'Tapas Restaurant', 'Tech Startup', 'BBQ Joint', 'Hot Dog Joint',
       'Deli / Bodega', 'Dim Sum Restaurant', 'Cantonese Restaurant',
       'Miscellaneous Shop', 'Nightclub', 'Vegetarian / Vegan Restaurant',
       'Bagel Shop', 'Noodle House', 'Middle Eastern Restaurant',
       'Australian Restaurant', 'Dive Bar', 'Spanish Restaurant',
       'Electronics Store', 'Cuban Restaurant', 'Wine Bar',
       'Puerto Rican Restaurant', 'Halal Restaurant', 'Candy Store',
       'Soba Restaurant', 'Ukrainian Restaurant',
       'Eastern European Restaurant', 'Southern / Soul Food Restaurant',
       'Moroccan Restaurant', 'Arts & Crafts Store', 'Ramen Restaurant',
       'Cajun / Creole Restaurant', 'German Restaurant',
       'Fast Food Restaurant', 'Furniture / Home Store', 'Home Service',
       'Food & Drink Shop', 'Lebanese Restaurant', 'Russian Restaurant',
       'English Restaurant', 'Conference Room', 'Szechuan Restaurant',
       'Brewery', 'Other Nightlife', 'Coworking Space',
       'Paella Restaurant', 'Ethiopian Restaurant', 'Cocktail Bar',
       'Falafel Restaurant', 'African Restaurant', 'Music Venue',
       'Shopping Mall', 'Pakistani Restaurant', 'Dumpling Restaurant',
       'Burger Joint', 'Taco Place',
       'Residential Building (Apartment / Condo)', 'Medical Center',
       'South Indian Restaurant', 'Fried Chicken Joint',
       'Kosher Restaurant', 'Czech Restaurant', 'Hardware Store',
       'Department Store', 'Building', 'Plaza', 'Peruvian Restaurant',
       'Housing Development', 'Garden', 'Theater',
       'Gluten-free Restaurant', 'Jewish Restaurant',
       'Peruvian Roast Chicken Joint', 'Kitchen Supply Store',
       'Business Service', 'Beer Garden', 'Dessert Shop', 'Hookah Bar',
       'Hotpot Restaurant', 'Argentinian Restaurant', 'Wings Joint',
       'Fujian Restaurant', 'Bistro', 'Neighborhood'], dtype=object)

#### Data Cleaning

There are some problems regarding foursquare api data
1. Some result is not restaurant, we need drop them
2. Chinese restaurants are labeled as specific type restaurant, like ‚ÄúSzechuan Restaurant‚Äù, we need combine them together.
3. Additionally, I need label other Asian restaurant as potential competitors.

In [56]:
for index, row in manhattan_restaurant.iterrows():
    if row['Venue Category'] in ('Miscellaneous Shop',
                                 'Business Service',
                                 'Metro Station',
                                 'Music Venue',
                                 'Neighborhood',
                                 'Hotel',
                                 'Gift Shop',
                                 'Brewery',
                                 'Sports Bar',
                                 'Salon / Barbershop',
                                 'Office',
                                 'Art Museum',
                                 'Event Space',
                                 'Other Great Outdoors',
                                 'Conference Room',
                                 'Theater',
                                 'Building',
                                 'Gastropub','Tech Startup',
                                 'Kitchen Supply Store',
                                 'Art Gallery',
                                 'Arts & Crafts Store',
                                 'Department Store',
                                 'Housing Development',
                                 'Garden','Home Service',
                                 'Furniture / Home Store',
                                 'Non-Profit',
                                 'Hardware Store'):
        manhattan_restaurant.drop(index, inplace=True)
        manhattan_restaurant.reset_index(drop=True)

In [57]:
manhattan_restaurant['New Category'] = ''
for index, row in manhattan_restaurant.iterrows():
    if row['Venue Category'] in ('Chinese Restaurant',
                                 'Dim Sum Restaurant',
                                 'Cantonese Restaurant',
                                 'Noodle House',
                                 'Dumpling Restaurant',
                                 'Indian Chinese Restaurant',
                                 'Hotpot Restaurant',
                                 'Szechuan Restaurant'):
        manhattan_restaurant.loc[index, 'New Category'] = 'Chinese Restaurant'
    elif row['Venue Category'] in ('Thai Restaurant',
                                 'Korean Restaurant',
                                 'Japanese Restaurant',
                                 'Sushi Restaurant',
                                 'Vietnamese Restaurant',
                                 'Ramen Restaurant',
                                 'Asian Restaurant'):
        manhattan_restaurant.loc[index, 'New Category'] = 'Alternative'
    else:
        manhattan_restaurant.loc[index, 'New Category'] = 'Other'
    

manhattan_restaurant.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category,New Category
0,Battery Park City,40.711017,-74.016937,O'Hara's Restaurant & Pub,40.709894,-74.012836,Pub,Other
1,Battery Park City,40.711017,-74.016937,Su Hang Restaurant,40.708363,-74.014046,Chinese Restaurant,Chinese Restaurant
2,Battery Park City,40.711017,-74.016937,Romi Restaurant & Lounge,40.707970,-74.013779,Lounge,Other
3,Battery Park City,40.711017,-74.016937,Miramar Seafood Restaurant,40.707919,-74.018159,Seafood Restaurant,Other
4,Battery Park City,40.711017,-74.016937,World Financial Center Restaurant Showcase,40.712434,-74.016497,Food Court,Other

#### Grouping and Final Table Construction

In [58]:
# one hot encoding
manhattan_onehot = pd.get_dummies(manhattan_restaurant[['New Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
manhattan_onehot['Neighborhood'] = manhattan_restaurant['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [manhattan_onehot.columns[-1]] + list(manhattan_onehot.columns[:-1])
manhattan_onehot = manhattan_onehot[fixed_columns]
manhattan_grouped = manhattan_onehot.groupby('Neighborhood').mean().reset_index()
manhattan_grouped.head()

         Neighborhood  Alternative  Chinese Restaurant     Other
0   Battery Park City     0.000000            0.086957  0.913043
1       Carnegie Hill     0.120000            0.040000  0.840000
2     Central Midtown     0.022727            0.000000  0.977273
3  Central Park South     0.148936            0.021277  0.829787
4             Chelsea     0.146341            0.146341  0.707317

In [59]:
restaurant_count = manhattan_restaurant.groupby('Neighborhood').count()
restaurant_count = restaurant_count.Venue.to_frame()
restaurant_count.head()

                    Venue
Neighborhood
Battery Park City      23
Carnegie Hill          25
Central Midtown        44
Central Park South     47
Chelsea                41

In [60]:
temp1 = manhattan_data.merge(restaurant_count, how='inner', on='Neighborhood')
final_data = temp1.merge(manhattan_grouped, how='inner', on='Neighborhood')
final_data

,Borough,Neighborhood,Latitude,Longitude,Meidian Sale Price,Venue,Alternative,Chinese Restaurant,Other
0,Manhattan,Battery Park City,40.711017,-74.016937,762900.0,23,0.000000,0.086957,0.913043
1,Manhattan,Carnegie Hill,40.784197,-73.954339,1500000.0,25,0.120000,0.040000,0.840000
2,Manhattan,Central Midtown,40.756182,-73.981039,830000.0,44,0.022727,0.000000,0.977273
3,Manhattan,Central Park South,40.767814,-73.981232,2147500.0,47,0.148936,0.021277,0.829787
4,Manhattan,Chelsea,40.746491,-74.001528,1077600.0,41,0.146341,0.146341,0.707317
5,Manhattan,Chinatown,40.716491,-73.996250,1733179.0,46,0.108696,0.652174,0.239130
6,Manhattan,Civic Center,40.713679,-74.002404,2760000.0,49,0.204082,0.387755,0.408163
7,Manhattan,Clinton - Hell's Kitchen,40.768228,-73.994269,779500.0,16,0.000000,0.000000,1.000000
8,Manhattan,East Harlem,40.794722,-73.942500,790000.0,47,0.000000,0.127660,0.872340
9,Manhattan,East Village,40.729269,-73.987361,1049500.0,45,0.177778,0.000000,0.822222
10,Manhattan,Financial District,40.707668,-74.009271,967500.0,47,0.085106,0.085106,0.829787
11,Manhattan,Flatiron District,40.741072,-73.989653,1865000.0,46,0.021739,0.043478,0.934783
12,Manhattan,Garment District,40.753694,-73.990517,1900000.0,43,0.093023,0.162791,0.744186
13,Manhattan,Gramercy Park,40.737939,-73.985922,1119375.0,46,0.130435,0.021739,0.847826
14,Manhattan,Greenwich Village,40.733584,-74.002817,1165000.0,46,0.130435,0.021739,0.847826
15,Manhattan,Harlem,40.807879,-73.945415,705000.0,27,0.037037,0.037037,0.925926
16,Manhattan,Hudson Square,40.726804,-74.007983,2906012.0,19,0.157895,0.000000,0.842105
17,Manhattan,Hudson Yards,40.755906,-74.000532,5504250.0,22,0.000000,0.181818,0.818182
18,Manhattan,Inwood,40.869258,-73.920495,535000.0,19,0.000000,0.263158,0.736842
19,Manhattan,Kips Bay,40.739546,-73.977083,597000.0,32,0.156250,0.125000,0.718750
20,Manhattan,Koreatown,40.747642,-73.986516,645000.0,45,0.200000,0.088889,0.711111
21,Manhattan,Lenox Hill,40.766437,-73.959017,1150000.0,48,0.187500,0.062500,0.750000
22,Manhattan,Lincoln Square,40.772319,-73.984401,1040000.0,23,0.000000,0.000000,1.000000
23,Manhattan,Little Italy,40.719273,-73.998215,1925000.0,44,0.090909,0.431818,0.477273
24,Manhattan,Lower East Side,40.715936,-73.986806,728000.0,41,0.073171,0.317073,0.609756
25,Manhattan,Manhattan Valley,40.799776,-73.967772,800000.0,30,0.066667,0.100000,0.833333
26,Manhattan,Morningside Heights,40.810000,-73.962500,670000.0,9,0.222222,0.111111,0.666667
27,Manhattan,Murray Hill,40.748157,-73.978750,750000.0,46,0.130435,0.130435,0.739130
28,Manhattan,NoHo,40.725875,-73.993957,1935000.0,38,0.105263,0.000000,0.894737
29,Manhattan,NoLIta,40.722989,-73.994558,2647450.0,33,0.030303,0.151515,0.818182
30,Manhattan,NoMad,40.744688,-73.988285,1623500.0,43,0.046512,0.069767,0.883721
31,Manhattan,Roosevelt Island,40.761418,-73.950228,676551.0,3,0.333333,0.000000,0.666667
32,Manhattan,SoHo,40.722880,-73.998750,3250000.0,36,0.027778,0.166667,0.805556
33,Manhattan,Sutton Place,40.758037,-73.960182,803750.0,30,0.133333,0.100000,0.766667
34,Manhattan,Theatre District - Times Square,40.763398,-73.983355,997500.0,46,0.086957,0.043478,0.869565
35,Manhattan,TriBeCa,40.715380,-74.009306,3550000.0,46,0.108696,0.065217,0.826087
36,Manhattan,Tudor City,40.748623,-73.971389,492500.0,43,0.186047,0.093023,0.720930
37,Manhattan,Turtle Bay,40.753467,-73.968866,820000.0,48,0.229167,0.062500,0.708333
38,Manhattan,Two Bridges,40.711288,-73.992233,1225900.0,45,0.088889,0.533333,0.377778
39,Manhattan,Upper West Side,40.787045,-73.975416,1100000.0,36,0.111111,0.083333,0.805556
40,Manhattan,Washington Heights,40.840198,-73.940221,590000.0,47,0.042553,0.127660,0.829787
41,Manhattan,West Village,40.734186,-74.005580,1312500.0,36,0.083333,0.000000,0.916667
42,Manhattan,Yorkville,40.778007,-73.948202,824000.0,44,0.136364,0.113636,0.750000